html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    color: #554C00;
}

body {
    margin: 10px 10%;
    background-color: #FFF6AA;
}

h1 {
    text-align: center;
    transition: font-size 2s ease-out 1s, color 2s ease-in 1s;
}

h1:hover {
    cursor: pointer;
    font-size: 3em;
    color: #4ba5da;
}

strong {
    font-weight: bold;
}

a {
    color: #AA9E39;
}

/* https://css-tricks.com/fluid-width-video/ */
.videoWrapper {
    position: relative;
    /* 16:9 */
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.container {
    position: relative;
}

.shadow {
    filter: drop-shadow(5px 5px 8px gray);
}

.shadow:hover {
    filter: saturate(4) drop-shadow(5px 5px 8px gray);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}