* {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
}

html,
body,
h1,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    background-color: #FFF6AA;
}

img {
    max-width: 100%;
    height: 100%;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-family: 'Unna', serif;
}

.hero-image {
    width: 100%;
    height: 100vh;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h2 {
    font-size: 40px;
    font-family: 'Unica One', sans-serif;
}

.hero-text h2 {
    text-align: center;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("images/city-1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.offset-1 {
    margin-left: 8.33333%;
}

.offset-2 {
    margin-left: 16.66667%;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-2 {
    flex: 66.66%;
    max-width: 66.66%;
}

.featured-content img {
    width: 100%;
    height: auto;
}

.half {
    width: 50%;
}

.neighborhoods_item {
    flex: 50%;
    padding-left: 48px;
    padding-bottom: 50px;
}

.visit-attend header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("images/city-6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    height: 80vh;
}

.visit-item-img {
    background-image: url("images/city-5.jpeg");
    width: 100%;
    height: 50%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.visit-item {
    padding-top: 50px;
}

.visit-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

strong {
    font-weight: bold;
}

a {
    color: #AA9E39;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}